<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style/Style.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
  <header class="custom-header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="Index.html"><img class="logo" src="img/Logo.png" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="Index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="CreateEvent.html">Create Event</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Events
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="Events.html">All Events</a></li>
                <li><a class="dropdown-item" href="Events.html">Aussie Rules</a></li>
                <li><a class="dropdown-item" href="Events.html">Soccer</a></li>
                <li><a class="dropdown-item" href="Events.html">Tennis</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="BookingHistory.html">Booking History</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>


    <main>
        <div class="Chosen_Event_Image_Container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="https://i.guim.co.uk/img/media/35604d70ee54c98a176656bdeda585f275cf8000/0_115_3679_2208/master/3679.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=d31232e48a8769a3606b54174b0ffe01" alt="Image 2">
                </div>
            </div>
            
        </div>
        <div class="Events_4U1">
            <div class="row">
                <div class="col-md-12">
                <h1>Boomers vs Finland</h1>
                </div>
            </div>
        </div> 

        <div class="Chosen_Event_Card">
            <div class="row">
                <div class="col-md-4">
                    <h3>1:00PM</h3>
                </div>
                <div class="col-md-4">
                    <h3>September 23rd</h3>
                </div>
                <div class="col-md-4">
                    <div class="status-box">
                        Active
                    </div>
                </div>
            </div>
        </div>

        <div class="Chosen_Event_Description">
            <div class="row">
                <div class="col-md-12">
                    <p>Join us for an electrifying showdown as the Boomers face off against Finland in an epic basketball battle. Experience heart-pounding action, remarkable athleticism, and fierce competition. Witness top-tier talent clash on the court. Don't miss this thrilling event, where every dribble, dunk, and three-pointer counts!</p>
                    <p>Nissan Arena, nestled in the picturesque Mt Gravatt, serves as the perfect host for the electrifying basketball showdown between Australia and Finland. This world-class venue boasts state-of-the-art facilities that ensure an unparalleled fan experience. From its spacious seating arrangements to its cutting-edge sound and lighting systems, Nissan Arena sets the stage for an unforgettable event.</p>
                    <p>Fans can secure their tickets to witness this epic battle, with options for standard and premium seating, catering to every basketball enthusiast's preferences. The ticketing process is streamlined and efficient, allowing fans to easily purchase their desired number of tickets on SportsHost.</p>

                </div>
            </div>
        </div>

        <div class="Chosen_Event_Location">
            <div class="row">
                <div class="col-md-1">
                    <img src="https://www.freeiconspng.com/thumbs/location-icon-png/location-icon-map-png--1.png" alt="Location_Logo">
                </div>

                <div class="col-md-11">
                    <h1>Nissan Arena</h1>
                    <p>140 Cylinder Road, Mt Gravatt, Queensland</p>
                </div>
            </div>
        </div>

        <div class="Chosen_Event_Sport">
            <div class="row">
                <div class="col-md-1">
                    <img src="https://cdn-icons-png.flaticon.com/512/46/46106.png" alt="Sport_Logo">
                </div>

                <div class="col-md-11">
                    <h1>Basketball</h1>
                    <p>FIBA World Cup Qualifiers</p>
                </div>
            </div>
        </div>

        <div class="Chosen_Event_Sport">
            <div class="row">
                <div class="col-md-1">
                    <img src="https://cdn-icons-png.flaticon.com/512/281/281668.png" alt="Clock_Logo">
                </div>

                <div class="col-md-11">
                    <h1>Duration</h1>
                    <p>Estimated 3-4 Hours</p>
                </div>
            </div>
        </div>

        <div class="Chosen_Event_Ticketing">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1>Comments</h1>
                </div>
            </div>
        </div>

        <div class="Comments_Box">
            <div class="row border-bottom"> 
                {{ render_form(form,"/comments/{0}/comment".format(comments.event_id)) }}
                
                {% for comment in comments %}
                <div class="col-md-12">  
                  <b>{{ comment.user_id }} <span class="ml-2 text-muted">January 2024</span></b>
                  <p>{{ comment.text }}</p>  
                </div> 
                {% endfor %} 
              </div>  
        </div>

         
          
          
        <div class="Chosen_Event_Ticketing">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1>Ticketing</h1>
                </div>
            </div>
        </div>
          
          

        <div class="Ticketing_Form">
            <form>
                <div class="non-button">
                    <div class="row">
                        <div class="col-md-4">
                            <h3 class="Seating_Type">Standard Children:</h3>
                            <p class="price">$10.00 each</p>
                        </div>
                        <div class="col-md-8">
                            <input type="number" id="ChildQuantity" name="ChildQuantity" min="0" value="0">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h3 class="Seating_Type">Standard Adults:</h3>
                            <p class="price">$18.00 each</p>
                        </div>
                        <div class="col-md-8">
                            <input type="number" id="adultQuantity" name="adultQuantity" min="0" value="0">
                            
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h3 class="Seating_Type">Premium Seating:</h3>
                            <p class="price">$38.00 each</p>
                        </div>
                        <div class="col-md-8">
                            <input type="number" id="PremiumQuantity" name="PremiumQuantity" min="0" value="0">
                            
                        </div>
                    </div>
                </div>
            </form>

            <a href="EventsPage.html">
                <div class="button">
                    <div class="row">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary">
                                    Get Tickets
                                </button>
                            </div>
                        </a>
                    </div>
                </div>
            </a>
        </div>



    
    <main>

    <footer>
        <div class="footer-content">
            <img src="img/Logo.png" alt="Logo" class="footer-logo">
            <div class="footer-text">
            &copy; Sporthost Pty Ltd<br>
            Created by Patrick Burford<br>
            IAB207 Front-End QUT
            </div>
        </div>
        </footer>
<body>
</html>