{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content%}
    <div class="container">
        <div class="slideshow-container">
        <div class="row">
            <div class="col-md-12">
            <div class="mySlides">
                <a href="EventsPage.html">
                <img src="https://d35kvm5iuwjt9t.cloudfront.net/dbimages/sfx302461.jpg" style="width:100%" alt="Slideshow AFL FINALS">
            </a>
            </div>
            <div class="mySlides">
                <a href="EventsPage.html">
                <img src="https://d35kvm5iuwjt9t.cloudfront.net/dbimages/sfx300800.jpg" style="width:100%" alt="Slideshow NRL FINALS">
                </a>
            </div>
            <div class="mySlides">
                <a href="EventsPage.html">
                <img src="https://d35kvm5iuwjt9t.cloudfront.net/dbimages/sfx295358.jpg" style="width:100%" alt="Slideshow NHL Exhibition">
                </a>
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            <br>

            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
            </div>
        </div>
        </div>
    </div>

    <script>
        let slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
    }
    </script>
    </div>

<div class="Events_For_You">
    <div class="col-md-12">
        <h1> Events For You</h1>
    </div>
</div>


<div class="image-row">
    <div class="row">
      <div class="col-md-4">
        <div class="event-card-HOME">
          <a href="EventsPage.html">
            <img src="https://i.guim.co.uk/img/media/35604d70ee54c98a176656bdeda585f275cf8000/0_115_3679_2208/master/3679.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=d31232e48a8769a3606b54174b0ffe01" alt="Image 2">
            <div class="event-info">
              <h3 class="event-title-HOME">Boomers vs Finland</h3>
              <p class="event-description-HOME">Get ready for heart-pounding basketball action as the Boomers take on Finland in a thrilling clash on the court. Witness incredible slam dunks, three-pointers, and fierce competition that will keep you on the edge of your seat. Don't miss this epic showdown between two basketball powerhouses. Markannen vs Mills in a battle of the ages.</p>
              <p class="event-date-HOME">2:30AM September 7</p>
              <div class="status-box-Soldout">
                Sold Out
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="event-card-HOME">
          <a href="EventsPage.html">
            <img src="https://imageio.forbes.com/specials-images/imageserve/6301107ace22ca7251b74236/nfl2022-1x1/0x0.jpg?format=jpg&height=1080&width=1080" alt="Image 2">
            <div class="event-info">
              <h3 class="event-title-HOME">Sunday Night Football</h3>
              <p class="event-description-HOME">It's a Sunday Night Football extravaganza! Under the dazzling lights, prepare for an unforgettable evening of gridiron magic. From electrifying touchdowns to bone-crushing tackles, this game promises football at its finest. Gather your friends and family for an evening of sports excitement that will have you cheering for your favorite team.</p>
              <p class="event-date-HOME">8:00PM September 9</p>
              <div class="status-box-active">
                Active
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="event-card-HOME">
          <a href="EventsPage.html">
            <img src="https://images.genius.com/9c1df9a1c6c203a5f99dbd4b02d88759.1000x1000x1.png" alt="Image 2">
            <div class="event-info">
              <h3 class="event-title-HOME">NBA Draft</h3>
              <p class="event-description-HOME">The future of basketball unfolds at the NBA Draft! As young talents step into the spotlight, watch their dreams come true. This event is where legends are born, and the next basketball sensation could be on the stage. Join us to witness history in the making and celebrate the bright future of the NBA. Jaren Jackson Jr. and Mike Conley headline the night.</p>
              <p class="event-date-HOME">1:30PM September 10</p>
              <div class="status-box-Soldout">
                Sold Out
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>


</div>

{% endblock %}