{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}

{% block header %}

{% endblock %}

{% block content%}

{% for event in events %}


<main>
  <div class="Chosen_Event_Image_Container">
      <div class="row">
          <div class="col-md-12 text-center">
              <img src="{{event.image}}" alt="Image 2">
          </div>
      </div>
      
  </div>
  <div class="Events_4U1">
      <div class="row">
          <div class="col-md-12">
          <h1>{{event.name}}</h1>
          </div>
      </div>
  </div> 

  <div class="Chosen_Event_Card">
      <div class="row">
          <div class="col-md-4">
              <h3>{{event.start_time}}</h3>
          </div>
          <div class="col-md-4">
              <h3>{{event.start_date}}</h3>
          </div>
          <div class="col-md-4">
              <div class="status-box">
                {{event.status}}
              </div>
          </div>
      </div>
  </div>

  <div class="Chosen_Event_Description">
      <div class="row">
          <div class="col-md-12">
              <p>{{event.description}}</p>
          </div>
      </div>
  </div>

  <div class="Chosen_Event_Location">
      <div class="row">
          <div class="col-md-1">
              <img src="https://www.freeiconspng.com/thumbs/location-icon-png/location-icon-map-png--1.png" alt="Location_Logo">
          </div>

          <div class="col-md-11">
              <h1>{{event.venue_name}}</h1>
              <p>{{event.venue_address}}</p>
          </div>
      </div>
  </div>

  <div class="Chosen_Event_Sport">
      <div class="row">
          <div class="col-md-1">
              <img src="https://cdn-icons-png.flaticon.com/512/46/46106.png" alt="Sport_Logo">
          </div>

          <div class="col-md-11">
              <h1>{{event.sport}}</h1>
              <p>{{event.name}}</p>
          </div>
      </div>
  </div>

  <div class="Chosen_Event_Sport">
      <div class="row">
          <div class="col-md-1">
              <img src="https://cdn-icons-png.flaticon.com/512/281/281668.png" alt="Clock_Logo">
          </div>

          <div class="col-md-11">
              <h1>Duration</h1>
              <p>{{Event_Duration}}</p>
          </div>
      </div>
  </div>

  <div class="Chosen_Event_Ticketing">
      <div class="row text-center">
          <div class="col-md-12">
              <h1>Comments</h1>
          </div>
      </div>
  </div>

  <div class="row border-bottom"> 
    {{ render_form(form,"/events/{0}/comment".format(event_id)) }}
    
    {% for comment in events.comments %}
    <div class="col-md-12">  
      <b>{{ comment.user_id }} <span class="ml-2 text-muted">January 2024</span></b>
      <p>{{ comment.text }}</p>  
    </div> 
    {% endfor %} 
  </div>  



<main>
{% endfor %}   
{% endblock %}