{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content%}
<div class="row">
  <div class="Events_4U">
      <div class="col-md-12">
        <h1>Booking History </h1>
      </div>
    </div>  


    <div class="Past-Image-Container">
      <div class="col-md-12">
        <div class="row">
          {% for booking in bookings %}
          <div class="col-md-3">
            {% if booking.event %}
            <div class="event-card">
              <a href="EventsPage.html">
                <img src= "{{ booking.event.image }}" alt="Image 1">
                <div class="event-info">
                  <h3 class="event-title">{{ booking.event.name }}</h3>
                  <p class="event-description">{{ booking.event.description }}</p>
                  <p class="event-date-HOME">{{ booking.booked_at }} </p>
                  <div class="Event-Ticketing">
                    <h3 class="event-date-HOME-TIX">Booking ID: {{ booking.booking_id }}</h3>
                    <p class="event-date-HOME-TIX">Number of Premium Seats: {{ booking.premium_count}}</p>
                    <p class="event-date-HOME-TIX">Number of Standard Seats: {{ booking.standard_count }} </p>
                    <p class="event-date-HOME-TIX">Event Booked on {{ booking.booked_at }}</p>
                  </div>
                  <div class="ticket-section">
                    <div class="status-box-Inactive1">
                      Inactive
                    </div>
                  </div>
                </div>
              </a>
            </div>
            {% endif %}
          </div>
          {% if loop.index % 4 == 0 %}
        </div><div class="col-md-12"><div class="row">
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
</div>
 

{% endblock %}
